
body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 15px;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
}
